#board{
    min-width: 100%;
    min-height: 340px;
    border: 2px solid #005580;
}

.startScreen{
    background: #08C;
}

.gameTitle{
    text-align: center;
    color: white;
    font-size: 4em;
    margin-top: 10%;
}

.playButton{
    text-align: center;
    margin-top: 10%;
}

.playButton button{
     font-size: 3em;
     height: 80px;
     width: 200px;
}

.playScreen {
    background: #08C;
}

.playingfield{
    background: #EECB89;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    box-shadow: 3px 3px 6px #111;
}