#board{
    min-width: 100%;
    min-height: 340px;
    border: 2px solid #005580;
}

.startScreen{
    background: #08C;
}

.gameTitle{
    text-align: center;
    color: white;
    font-size: 4em;
    margin-top: 10%;
}

.playButton{
    text-align: center;
    margin-top: 10%;
}

.playButton button{
     font-size: 3em;
     height: 80px;
     width: 200px;
}

.playScreen {
    background: #08C;
}

.playingfield{
    background: #EECB89;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    box-shadow: 3px 3px 6px #111;

    /*This causes the rects to collapse their borders */
    line-height: 0px !important;
    font-size: 0px !important;
}

.play-rect{
    border: 1px solid #333;
    width: 100px;
    height: 100px;
    display: inline-block;
    cursor: pointer;

    /*We want the rects to be 100px wide and tall,
     the borders/padding included
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.player1{
    cursor: default;
    background: red;
}

.player2{
    cursor: default;
    background: green;
}