#board{
    min-width: 100%;
    min-height: 340px;
}

.startScreen{
    background: #08C;
    border: 2px solid #005580;
}

.gameTitle{
    text-align: center;
    color: white;
    font-size: 4em;
    margin-top: 10%;
}

.playButton{
    text-align: center;
    margin-top: 10%;
}

.playButton button{
     font-size: 3em;
     height: 80px;
     width: 200px;
}